* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper {
    width: 100vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, teal, white);
}

button {
    padding: 5px;
    border-radius: 5px;
}

/* header styling */

#header-section {
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    font-family: 'Work Sans', 'Arial', sans-serif;
    background: rgb(73, 64, 64);
    box-shadow: 0px 2px 10px 5px black
}

.new-project-btn {
    padding: 15px;
    font-size: 1.25rem;
}

/* to-do section styling */

#todo-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    row-gap: 7rem;
    margin-top: 6rem;
    height: auto;
}

.project-div {
    background-image: linear-gradient(to bottom, rgb(194, 135, 107), rgb(63, 155, 192));
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: 'Work Sans', 'Arial', sans-serif;
}

/* project styling */

.project-name {
    display: flex;
    justify-content: center;
    font-size: 2.75rem;
    padding: 1rem;
    font-weight: 500;
    width: 100%;
    text-shadow: 1px 1px 5px rgb(63, 155, 192);
}

.list-div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.list-div:first-of-type {
    margin-top: 1.5rem;
}

.list-div p {
    margin-top: 1rem;
}

.list-div input[type=checkbox] {
    position: relative;
    margin-top: 0.5rem;
    margin-left: 5px;
    transform: scale(1.25);
}

.list-title {
    font-size: 1.75rem;
    color: white;
    text-decoration: underline;
}

.list-description {
    font-size: 1.4rem;
    font-style: italic;
}

.remove-list-btn {
    margin-top: 1.5rem;
    display: block;
}

.remove-list-btn:hover {
    cursor: pointer;
    background: rgb(73, 64, 64);
    color: white;
    transform: scale(1.05);
    transform: scale(1.1);
}

label {
    margin-top: 1rem;
    font-size: 0.75rem;
    font-style: italic;
}

/* button div styling */

.button-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-bet;
    padding: 10px 5px 10px 5px;
    margin-top: 4rem;
    background: rgba(0, 0, 0, 0.829);
    border-radius: 5px;
}

.add-list-btn, .del-project-btn {
    margin-top: 0.75rem;
    display: block;
    color: white;
    background: black;
    padding: 10px;
    font-size: 1rem;
}

.del-project-btn {
    margin-top: 1.5rem;
    background: rgb(194, 135, 107);
}

.del-project-btn:hover {
    cursor: pointer;
    background: rgb(209, 93, 38);
    transform: scale(1.05);
}

.add-list-btn {
    background: rgb(63, 155, 192);
}

.add-list-btn:hover {
    cursor: pointer;
    background: rgb(26, 182, 182);
    transform: scale(1.05);
}